.header-logo {
    padding: 20px
}

/******* Search results *******/

.search-results tr {
    cursor: pointer;
}

/****** Drug Display ********/

td.drug-item-label {
    text-align: right;
    color: #131313;
    font-weight: bold;
    width: 20%;
}

td.drug-item-value {
    width: 80%;
}
