.header-logo {
    padding: 20px
}

.header-container {
    background-color: #0fb29d;
}

.suggestions:hover {
    background-color: grey;
}

.suggestions {
    cursor: pointer;
    padding: 5px;
}

.search-list-item-name {
    float: left;
}

.search-list-item-price {
    float:right;
}

.search-list-item {
    padding: 5px;
    cursor: pointer;
}

.search-list-item:hover {
    background-color: grey;
}

/****** Drug Display ********/

.display-item {
    width: 100%;
}

td.label {
    border-right: 1px solid #cfcfcf;
    text-align: right;
    color: #0FB29D;
    background-color: #f2f4f3;
    vertical-align: top;
}

td.value {
}
